/* Navbar.css */

.navbar {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
  }
  
  .navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .brand {
    font-weight: bold;
  }
  
  .nav-links {
    list-style: none;
    display: flex;
    align-items: center;
  }
  
  .nav-links.mobile {
    display: none;
  }
  
  .nav-links li {
    margin-right: 20px;
  }
  
  .toggle-button {
    background-color: transparent;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 1.5rem;
    display: none;
  }
  
  @media (max-width: 768px) {
    .toggle-button {
        display: block; /* Display toggle button on smaller screens */
      }
    .nav-links {
      display: none;
      flex-direction: column;
      width: 100%;
      position: absolute;
      top: 60px; /* Height of your navbar */
      left: 0;
      background-color: #333;
      padding: 20px;
    }
  
    .nav-links.mobile {
      display: flex;
    }
  
    .nav-links li {
      margin: 10px 0;
    }
  }
  