/* Navbar.css */

.navbar {
 border-radius: 2px;
 color: aliceblue;
 background: #101e5b;
 padding: 10px 20px;
 z-index: 100;
}

.navbar a{
  color: #fef9f9;
  transition: color 0.3s ease;
  text-decoration: none;
}
.navbar a:hover {
  color: #f300b4; /* Text color on hover */
  
}
  .navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #ffffff;
  }
  
  .brand {
    font-weight: bold;
  }
  
  .nav-links {
    list-style: none;
    display: flex;
    align-items: center;
    color: #ffffff !important;
  }
  
  .nav-links.mobile {
    display: none;
  }
  
  .nav-links li {
    margin-right: 20px;
    color: #ffffff !important;
    
  }
  
  .toggle-button {
    background-color: transparent;
    color: #ffffff;
    border: none;
    cursor: pointer;
    font-size: 1.5rem;
    display: none;
  }
  
  @media (max-width: 768px) {
    .toggle-button {
        display: block; /* Display toggle button on smaller screens */
      }
    .nav-links {
      display: none;
      flex-direction: column;
      width: 100%;
      position: absolute;
      top: 60px; /* Height of your navbar */
      left: 0;
      background-color: transparent;
      padding: 20px;
      color: #ffffff;
    }
  
    .nav-links.mobile {
      display: flex;
      z-index: 100;
    }
  
    .nav-links li {
      margin: 10px 0;
    }
  }
  